.leaderboard-container {
  justify-content: center;
}

.high-rank {
  max-width: 600px;
  margin: 10px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas:
    "rank1 rank1"
    "rank2 rank3";
}

.high-rank-item {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(17, 17, 17);
  margin: 5px;
}

.rank-1 {
  grid-area: rank1;
  background-image: linear-gradient(75deg, #ffc93c, #f2ff3c);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rank-1 .high-rank-name {
  font-size: 1.8em;
}

.rank-2 {
  grid-area: rank2;
  background-color: #e1e5ea;
  background-image: linear-gradient(75deg, #e1e5ea, #bbc1c9);
  border-top-right-radius: 0;
}

.rank-2 .high-rank-name {
  font-size: 1.5em;
}

.rank-3 {
  grid-area: rank3;
  background-image: linear-gradient(75deg, #d79771, rgb(153, 116, 87));
  border-top-left-radius: 0;
}

.rank-3 .high-rank-name {
  font-size: 1.3em;
}

.high-rank-name {
  font-weight: bold;
  text-align: center;
  color: rgb(54, 54, 54);
}

.high-rank-score {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.high-rank-date {
  margin-top: 5px;
  color: rgb(56, 56, 56);
}

.other-rank {
  max-width: 400px;
  max-height: 500px;
  overflow: auto;
  margin: 18px auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.other-rank-item {
  background-color: #fdf6f0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.other-rank-item:nth-child(even) {
  background-color: #444444;
  color: #fdf6f0;
}

.other-rank-name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.other-rank-score {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.other-rank-date {
  margin-top: 5px;
}
